@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap);
*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: black;
}

.product-list {
  display: grid;
  gap: 20px 30px;
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
}

.product {
  padding: 25px 30px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  text-align: center;
}

.product__title {
  line-height: 142%;
}

.product__price {
  font-weight: 500;
  font-size: 21px;
  line-height: 119%;
  letter-spacing: 0.05em;
  color: #000;
}

.product__button {
  width: 130px;
  margin: 0 auto;
}

.nav-header {
  background-color: #EFEFEF;
  padding: 16px 0;
}

.nav-header__list {
  display: flex;
  justify-content: center;
  gap: 10px 30px;
  flex-wrap: wrap;
}

.nav-header__link {
  line-height: 114%;
}

.logo-header {
  background-color: #fff;
}

.logo-header__call {
  display: flex;
  align-items: center;
  gap: 30px 40px;
}
@media (max-width: 950px) {
  .logo-header__call {
    order: 2;
  }
}

.logo-header__body {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 950px) {
  .logo-header__body {
    justify-content: center;
  }
}

.logo-header__search {
  position: relative;
}
@media (max-width: 950px) {
  .logo-header__search {
    order: 3;
  }
}

.logo-header__search-line {
  min-width: 250px;
  background: #EFEFEF;
  border-radius: 40px;
  padding: 10px 20px 10px 50px;
}
@media (max-width: 950px) {
  .logo-header__search-line {
    min-width: 90vw;
  }
}

.logo-header__search-icon {
  position: absolute;
  top: 8px;
  left: 20px;
  z-index: 2;
}

.logo-header__button {
  min-width: 180px;
}
@media (max-width: 400px) {
  .logo-header__button {
    display: none;
  }
}

.services-header {
  margin: 1px 0 0 0;
  background-color: #fff;
}

.services-header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 0;
  gap: 20px 30px;
}

.services-header__link {
  line-height: 118%;
  color: #000;
}
.services-header__link:hover {
  text-decoration: underline;
}

.main-page {
  background: url(/src/img/header/bg.jpg);
  background-size: cover;
  background-position: center;
}
@media (max-width: 500px) {
  .main-page {
    background-position: 60%;
  }
}

.main-page__body {
  padding: 192px 0;
  max-width: 308px;
}
@media (max-width: 500px) {
  .main-page__body {
    padding-top: 110px;
  }
}

.main-page__title {
  padding: 0 0 40px 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 116%;
  color: #fff;
}

.main-page__text {
  line-height: 142%;
  color: #fff;
  padding: 0 0 40px 0;
}

.specials__body {
  padding: 80px 0 100px 0;
}

.services__container {
  max-width: 1110px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, auto));
  gap: 20px 30px;
  padding: 0 0 100px 0;
}
@media (max-width: 1180px) {
  .services__container {
    margin: 0 40px;
  }
}
@media (max-width: 560px) {
  .services__container {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  }
}

.services-item {
  padding: 35px 45px 35px 40px;
  background: #F13C6E;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 560px) {
  .services-item {
    flex-direction: column;
  }
}

.services-item__content {
  display: grid;
  row-gap: 25px;
}
@media (max-width: 560px) {
  .services-item__content {
    padding: 0 0 25px 0;
  }
}

.services-item__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 116%;
  color: #fff;
}

.services-item__text {
  line-height: 142%;
  color: #fff;
}

.services-item__button {
  padding: 9px 25px;
  align-content: center;
  align-self: center;
  letter-spacing: 0;
}

.services-item__input {
  background: #fff;
  border-radius: 30px;
  padding: 9px 25px;
  min-width: 225px;
  color: #C4C4C4;
}

.services-item__image {
  -o-object-fit: contain;
     object-fit: contain;
}

.partners__body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  margin: 0 0 80px 0;
}

.partners__item {
  background: #fff;
  text-align: center;
}

.partners__image {
  padding: 35px 60px;
}

.footer-menu {
  background: #fff;
  margin: 0 0 1px 0;
}

.footer-menu__body {
  padding: 60px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  gap: 20px 30px;
}

.footer-menu__item__title {
  margin: 0 0 55px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 140.62%;
  color: #000;
}

.footer-menu__item__link {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 233%;
  color: #828282;
}

.contacts {
  background: #fff;
}

.contacts__body {
  align-items: center;
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
@media (max-width: 938px) {
  .contacts__body {
    justify-content: flex-start;
  }
}

.contacts__socials {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.contact__social {
  border: 2px solid #F13C6E;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  text-align: center;
  display: flex;
  flex: column;
  justify-content: center;
}

.contacts__social__link {
  flex: 0 1 20px;
}

.contacts__call {
  display: flex;
  align-items: center;
}
@media (max-width: 395px) {
  .contacts__call {
    flex-wrap: wrap;
    row-gap: 30px;
  }
}

.contacts__addres {
  color: #000;
  line-height: 114%;
}

.contacts__number {
  font-size: 16px;
  line-height: 118%;
  margin: 0 40px 0 0;
}
@media (max-width: 412px) {
  .contacts__number {
    margin: 0 20px 0 0;
  }
}

.contacts__button {
  min-width: 180px;
}

.credits {
  background: #EFEFEF;
}

.credits__body {
  padding: 25px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.credits__text {
  color: #828282;
  line-height: 116%;
}

.credits__link {
  color: #828282;
  line-height: 116%;
}

.button {
  padding: 12px 26px;
  max-width: 170px;
  line-height: 0.875;
  border-radius: 40px;
  transition: all 0.3s ease;
  display: block;
  text-align: center;
}
.button:hover {
  text-decoration: none;
}

.button_hollow {
  color: #fff;
  border: 2px solid #FFFFFF;
  letter-spacing: 0.05em;
}
.button_hollow:hover {
  background: #fff;
  color: #F13C6E;
}

.button_pink {
  background: #F13C6E;
  color: #fff;
  letter-spacing: 0.05em;
}

.button_hollow-pink {
  border: 2px solid #F13C6E;
  border-radius: 40px;
}
.button_hollow-pink:hover {
  background: #F13C6E;
  color: #fff;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 35px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #EFEFEF;
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto;
  color: #333333;
}

.page {
  margin: 0 0 80px 0;
}

a:hover {
  text-decoration: underline;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 116%;
  color: #000;
  margin: 0 0 38px 0;
}/*# sourceMappingURL=style.css.map */