@import '_nullstyle.scss';
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap);

[class*="__container"]{
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 15px;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
body{
    background-color: #EFEFEF;
    font-size: 14px;
    font-weight: 400;
    font-family: Roboto;
    color: #333333;
}
/* ====== BUTTONS ======================================================================== */
.button{
    padding: 12px 26px;
    max-width: 170px;
    line-height: 0.875;
    border-radius: 40px;
    transition: all 0.3s ease;
    display: block;
    text-align: center;
}
.button_hollow {
    color: #fff;
    border: 2px solid #FFFFFF; 
    letter-spacing: 0.05em;
    &:hover{
        background: #fff;
        color: #F13C6E;
    }
}
.button_pink{
    background: #F13C6E;
    color: #fff;
    letter-spacing: 0.05em;
}

/* ====== HEADER-NAV ======================================================================== */
.nav-header {
    background-color: #EFEFEF;
    padding: 16px 0;
}
.nav-header__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.nav-header__item {
    &:hover{
        text-decoration: underline;
    }
    &:not(:last-child){
        padding: 0 30px 0 0;
    }
}
.nav-header__link {
    line-height: 114%;
}
/* ====== LOGO-HEADER ======================================================================== */
.logo-header {
    background-color: #fff;
}
.logo-header__container {
    display: flex;
    padding: 20px 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    justify-content: flex-end;
}
.logo-header__image {
    justify-content: flex-start;
}
.logo-header__search {
    position: relative;
    justify-self: center;
}
.logo-header__search-line {
    min-width: 250px;
    background: #EFEFEF;
    border-radius: 40px;
    padding: 10px 20px 10px 50px;
}
.logo-header__search-icon {
    position: absolute;
    top: 8px; left: 20px; z-index: 2;
}
.logo-header__number {
    justify-self: flex-end;
}
.logo-header__button {
    border: 2px solid #F13C6E;
    border-radius: 40px;
    justify-self: flex-end;
    &:hover{
        background: #F13C6E;
        color: #fff;
    }
}
/* ====== SERVICES-HEADER ======================================================================== */
.services-header {
    margin: 1px 0 0 0;
    background-color: #fff;
}
.services-header__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0;
}
.services-header__item {
    &:not(:last-child){
        padding: 0 40px 0 0;
    }
}
.services-header__link {
    line-height: 118%;
    color: #000;
    &:hover{
        text-decoration: underline;
    } 
}
/* ====== MAIN-PAGE ======================================================================== */
.main-page {
    background: url(/src/img/header/bg.jpg);
    background-size: cover;
    background-position: center;
    @media (max-width: 500px) {
        background-position: 60%;
    }
}
.main-page__body {
    padding: 192px 0;
    max-width: 308px;
    @media (max-width: 500px) {
        padding-top: 110px;
    }
}
.main-page__title {
    padding: 0 0 40px 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 116%;
    color: #fff;
}
.main-page__text {
    line-height: 142%;
    color: #fff;
    padding: 0 0 40px 0;
}
/* ====== SPECIALS ======================================================================== */
.specials {
    padding: 80px 0 100px 0;
    @media (max-width: 1180px) {
        margin: 0 40px;
    }
}
.specials__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 116%;
    color: #000;
    margin: 0 0 38px 0;
}
.specials__body {
    display: grid;
    gap: 20px 30px;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
}
.specials-item {
    padding: 25px 30px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    text-align: center;
}
.specials-item__title {
    line-height: 142%;
}
.specials-item__price {
    font-weight: 500;
    font-size: 21px;
    line-height: 119%;
    letter-spacing: 0.05em;
    color: #000;
}
.special-item__button{
    width: 130px;
    margin: 0 auto;
}
/* ====== SERVICES ======================================================================== */
.services__container {
    max-width: 1110px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, auto));
    gap: 20px 30px;
    padding: 0 0 100px 0;
    @media (max-width: 1180px) {
        margin: 0 40px;
    }
    @media (max-width: 560px) {
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    }
}
.services-item {
    padding: 35px 45px 35px 40px;
    background: #F13C6E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 560px) {
        flex-direction: column;
    }
}
.services-item__content {
    display: grid;
    row-gap: 25px;
    @media (max-width: 560px) {
        padding: 0 0 25px 0;
    }
}
.services-item__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 116%;
    color: #fff;
}
.services-item__text {
    line-height: 142%;
    color: #fff;
}
.services-item__button{
    padding: 9px 25px;
    align-content: center;
    align-self: center;
    letter-spacing: 0;
}
.services-item__input {
    background: #fff;
    border-radius: 30px;
    padding: 9px 25px;
    min-width: 225px;
    color: #C4C4C4;
}
.services-item__image {
    object-fit: contain;
}